




<div class="text-center answer-block">
<h1>Here my answers :</h1>
<div class="robot">
    <img src="http://f.cl.ly/items/2D2M3f0a3W2Z2E0P3G1D/robot.png" alt="Robot" />
  </div>
<p><%= @reponse %></p>
<p>Need anything else ?</p>

<%=link_to "Ask a new question", "ask"%>
</div>
