


<div class="text-center answer-block">

            <h1>Hi there, I'm your stupid Coach</h1>
            <div class="robot">
    <img src="http://f.cl.ly/items/2D2M3f0a3W2Z2E0P3G1D/robot.png" alt="Robot" />
  </div>
          <form action="/answer">
            <input type="text" id="question" name="question" placeholder="Ask me something?">
            <input type="submit" class="btn btn-primary btn-block btn-large" value="Go on!">
          </form>
</div>
